<div class="container">
    <h4 style="margin-bottom: 1%;"><i> CHI TIẾT BÀI BÁO :</i></h4>
    {{#each detai}}
    <h2 class="display-4 font-weight-bold" style="margin-left: 0%;">{{title}}</h2>
    <div class="row">
        <div class="col">
            <div id="article-detail" class="my-3">
                <img src="/article/{{images}}" style="width:900px;height:400px" class="img-fluid">
                <div class="container-fuild">
                    {{{content}}}
                </div>
            </div>
            <h6 class="card-text mb-2 text-muted">
                <i class="fas fa-tags "></i>
                {{#each tags}}
                <a href="javascript:;" class="badge badge-secondary">{{Name }} &nbsp;</a>
                {{/each}}
            </h6>
        </div>
    </div>
        <div class="row">
            <div class="col-12">
                <a href="/admin/article" class="btn btn-success">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                    Trở lại
                </a>
                <a href="/admin/article/edit/{{id}}" class="btn btn-warning">
                    <i class="fas fa-wrench" aria-hidden="true"></i>
                    Chỉnh sửa
                </a>
            </div>
        </div>
    {{/each}}
</div>