{{#section 'js'}}
    <script>
    </script>
{{/section}}
<div class="container" id="content">
    <div class="row mt-5">
        <div class="col-12" id="byCat-article">
            
            {{#each list}}
            <div class="d-flex mt-5">
                <div class="row no-gutters align-items-strech">
                    <div class="col-4">
                        <div class="mb-2 img-cont1">
                            <img src="/article/{{images}}" alt="{{title}}" title="{{c_Name}}: {{ID}}-{{title}}"
                                style="width: 300px;height:250px" class="card-img lazyload" alt="...">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="">
                            <a href="/article/{{c_alias}}/{{id}}/{{title_alias}}" class="text-dark link_bycat">
                                <h5 class="card-title" title="{{title}}">{{title}}</h5>
                            </a>
                            <h6 class="card-subtitle mb-2 text-muted d-none d-sm-block">
                                <span class="article-date">
                                    <i class="far fa-calendar-alt mr-1"></i>
                                    {{format_DOB public_date}}
                                </span>
                            </h6>
                            <h6 class="card-text mb-2 text-muted">
                                <i class="fas fa-tags "></i>
                                {{#each tags}}
                                <a href="/tags/{{tg_alias}}" class="badge badge-secondary">{{Name }} &nbsp;</a>
                                {{/each}}
                            </h6>
                            <div class="card-text d-none d-md-block">
                                {{abstract}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <nav aria-label="..." class="d-flex justify-content-center mt-2">
                <ul class="pagination">
                    <li class="page-item {{#unless can_go_prev}}disabled{{/unless}}">
                    <a class="page-link" href="http://localhost:3000/article/search?key={{key}}&page={{prev_value}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    {{#each this.page_items}}
                    {{#if isActive}}
                    <li class="page-item active" aria-current="page">
                    <span class="page-link">
                        {{value}}
                        <span class="sr-only">(current)</span>
                    </span>
                    </li>
                    {{else}}
                    <li class="page-item {{#if isDisabled}}disabled{{/if}}">
                    <a class="page-link" id="thea" href="http://localhost:3000/article/search?key={{getkey}}&page={{value}}" >{{value}}</a>
                    </li>
                    {{/if}}
                    {{/each}}
                    <li class="page-item {{#unless can_go_next}}disabled{{/unless}}">
                    <a class="page-link" href="http://localhost:3000/article/search?key={{key}}&page={{next_value}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </nav>
        </div> 
    </div>
</div>
