
    <h1 class="text-center">Chi tiết tài khoản</h1>

{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<!-- some CSS styling changes and overrides -->
    <style>
    .kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        text-align: center;
    }
    .kv-avatar {
        display: inline-block;
    }
    .kv-avatar .file-input {
        display: table-cell;
        width: 213px;
    }
    .kv-reqd {
        color: red;
        font-family: monospace;
        font-weight: normal;
    }
    </style>
 
{{/section}}

{{#section 'js'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fa/theme.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/locales/vi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        if("{{{row.DOB}}}" != "" && "{{{row.DOB}}}" != "Invalid date"){
            $('#dob').datetimepicker({
                format: 'd/m/Y',
                timepicker: false,
                mask: true,
                value: "{{{row.DOB}}}"
            });
        }else{
             $('#dob').datetimepicker({
                format: 'd/m/Y',
                timepicker: false,
                mask: true,
            });
        }
        $('#cre_Date').datetimepicker({
                format: 'd/m/Y',
                timepicker: false,
                mask: true,
                value: "{{{row.cre_Date}}}"
        });
        if("{{{row.date_create_premium}}}" != "Invalid date" && "{{{row.date_create_premium}}}" != ""){
            $('#date_create_premium').datetimepicker({
                format: 'd/m/Y h:m:s',
                mask: true,
                //"setDate": "{{{this.articledraft.public_date}}}"
            });
            $("#date_create_premium").val("{{{row.date_create_premium}}}");
        }else{
             $('#date_create_premium').datetimepicker({
                format: 'd/m/Y h:m:s',
                mask: true,
            });
            $("#date_create_premium").val("__/__/____ __:__:__");
        }

    </script>
  <!-- the fileinput plugin initialization -->
    <script>
    if({{{row.url}}}){
        $("#avatar-2").fileinput({
          overwriteInitial: true,
          showClose: false,
          showCaption: false,
          showBrowse: false,
          browseOnZoneClick: true,
          //removeLabel: '',
          language: 'vi',
          //removeIcon: '<i class="fas fa-times"></i>',
          removeTitle: 'Cancel or reset changes',
          elErrorContainer: '#kv-avatar-errors-2',
          msgErrorClass: 'alert alert-block alert-danger',
          initialPreview: '<img src="{{{row.Image}}}" name="Image" width="200" alt="Your Avatar"><h6 class="text-muted">Ấn vô để thay đổi</h6>',
          layoutTemplates: {main2: '{preview} {remove} {browse}'},
          allowedFileExtensions: ["jpg", "png", "gif"]
        });
    }else{
        $("#avatar-2").fileinput({
          overwriteInitial: true,
          showClose: false,
          showCaption: false,
          showBrowse: false,
          browseOnZoneClick: true,
          //removeLabel: '',
          language: 'vi',
          //removeIcon: '<i class="fas fa-times"></i>',
          removeTitle: 'Cancel or reset changes',
          elErrorContainer: '#kv-avatar-errors-2',
          msgErrorClass: 'alert alert-block alert-danger',
          initialPreview: '<img src="/img/profile/{{{row.Image}}}" width="200"name="Image" alt="Your Avatar"><h6 class="text-muted">Ấn vô để thay đổi</h6>',
          layoutTemplates: {main2: '{preview} {remove} {browse}'},
          allowedFileExtensions: ["jpg", "png", "gif"]
        });
    }
   
    </script>
{{/section}}


<!-- markup -->
<!-- note: your server code `/site/avatar_upload/2` will receive `$_FILES['avatar-2']` on form submission -->
<!-- the avatar markup -->
<div id="kv-avatar-errors-2" class="center-block" style="width:800px;display:none"></div>
<div class="container-fluid" style="background-image: url('https://i.pinimg.com/originals/87/12/6a/87126ac3421f470fe2c4c71a77924799.jpg'); background-size: cover;background-repeat;  margin-top:50px; margin-bottom: 50px">
  <div class="container" style="padding: 50px;">
        <form class="form form-vertical" id="frmprofile" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="kv-avatar">
                    <div class="file-loading">
                        <input id="avatar-2" name="Image" type="file">
                    </div>
                </div>
                <div class="kv-avatar-hint">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="email">Địa chỉ email<span class="kv-reqd">*</span></label>
                    <input name="Email" id="Email" value="{{row.Email}}" class="form-control">
                </div>
                <div class="form-group" hidden>
                    <label for="pwd">Mật khẩu</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <label >Loại tài khoản<span class="kv-reqd">*</span></label>
                    <select class="form-control" name="r_ID" id="r_ID">
                        {{#each this.roleacc}}
                            {{#if selected }}
                                <option selected value="{{ID}}">{{Name}}</option>
                            {{else}}
                                <option value="{{ID}}">{{Name}}</option>                  
                            {{/if}}
                        {{/each}}
                    </select>
                </div>
                  <div class="form-group">
                    <label >Chuyên mục quản lý<span class="kv-reqd">*</span></label>
                    <select class="form-control" name="tc_ID" id="tc_ID">
                        <option value="">Không có</option>
                        {{#each this.typecategory}}
                            {{#if selected }}
                                <option selected value="{{ID}}">{{tc_Name}}</option>
                            {{else}}
                                <option value="{{ID}}">{{tc_Name}}</option>                  
                            {{/if}}
                        {{/each}}
                        
                    </select>
                </div>
                <div class="form-group">
                    <label >Ngày Sinh<span class="kv-reqd">*</span></label>
                    <input type="text" class="form-control" name="DOB" id="dob">
                </div>
                <div class="form-group">
                    <label >Ngày tạo tài khoản<span class="kv-reqd">*</span></label>
                    <input type="text" class="form-control" name="cre_Date" id="cre_Date">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label >Id<span class="kv-reqd">*</span></label>
                    <input type="text" class="form-control" name="username" id="username" value="{{row.ID}}" required>
                </div>
                <div class="form-group">
                    <label >Tên đăng nhập<span class="kv-reqd">*</span></label>
                    <input type="text" class="form-control" name="username" id="username" value="{{row.username}}" required>
                </div>
                 <div class="form-group" hidden>
                    <label for="pwd">Xác nhận lại mật khẩu</label>
                    <input type="password" name="cf_password" id="cf_password" class="form-control">
                </div>
                <div class="form-group">
                    <label>Bút danh</span></label>
                    <input  type="text" class="form-control" id="pseudonym" value="{{row.pseudonym}}">
                </div>
                <div class="form-group">
                    <label >Ngày tài khoản vip có hiệu lực</label>
                    <input  type="text" class="form-control" id="date_create_premium" name="date_create_premium">
                </div>
                <div class="form-group">
                    <label >Thời gian tài khoản vip(đơn vị: giây)</label>
                    <input  type="number" class="form-control" value="{{row.time_premium}}" id="time_premium" name="time_premium">
                </div>
            </div>
        </div>
         <a href="/admin/user" class="btn btn-success">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Trở lại
        </a>

    </form>
  </div>
</div>

 
